!!!
%html
	%head
		%title Tweetline
		= stylesheet_link_tag		 "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container
			-if alert
				.alert-box.success=alert
			-if notice
				.alert-box.error=notice
			= yield
